@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.mi-boton:hover {
      background-color: orangered; 
        }

  .mi-boton:active {
      background-color: blueviolet; 
        }
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

* {
  margin: 0;
  padding: o;
}

body {
  text-align: center;
  justify-content: center;
  background-color: #f5f8ff;
}

main {
  padding: 116px 140px;
}

.header_section {
  background-image: url("/images/bg.png");
  height: 698px;
}

.nav_ul {
  display: flex;
  justify-content: space-between;
  padding: 50px 150px;
  align-items: center;
}

.nav_ul li {
  list-style: none;
}

.nav_ul li a {
  text-decoration: none;
}

.nav_logo_text {
  font-size: 34px;
  color: #4e47ff;
  font-family: in;
  font-family: "inter";
  font-weight: 800;
}

.nav_btn {
  width: 132px;
  height: 48px;
  border-radius: 16px;
  border: none;
  background-color: #4e47ff;
  font-family: "inter";
  font-style: 16px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}

.heroText {
  margin-top: 209px;
}

.heroTitle {
  font-family: "raleway";
  font-weight: bold;
  font-size: 65px;
  margin-bottom: 37px;
}

.heroBtn {
  width: 174px;
  height: 48px;
  background-color: #4e47ff;
  color: #fff;
  font-family: "raleway";
  font-weight: bold;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.seeItInAction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.seeItInAction_title {
  font-size: 42px;
  font-weight: bold;
  font-family: "raleway";
  color: #252432;
  text-align: left;
}

.seeItInAction_description {
  text-align: left;
  line-height: 30px;
  font-size: 24px;
  font-family: "raleway";
  margin-bottom: 23px;
}

.live_preview_btn {
  width: 229px;
  height: 48px;
  background-color: #4e47ff;
  color: #fff;
  border-radius: 10px;
  border: none;
  font-family: "raleway";
  font-weight: bold;
  margin-left: 0;
  display: block;
  cursor: pointer;
}

.webflowsm_img {
  border-radius: 48px;
}

.productive_users_section {
  margin-top: 116px;
  height: 306px;
  background-color: rgba(78, 41, 255, 0.07);
  border-radius: 24px;
}

.productive_users_section_first_child {
  padding: 50px 142px;
}

.productive_users_section_title {
  font-size: 38px;
  font-weight: bold;
  color: #252432;
  font-family: "raleway";
  margin-bottom: 40px;
}

.productive_users_count {
  display: flex;
  justify-content: space-between;
  font-family: "inter";
}

.productive_users_count_shared_text {
  font-weight: bold;
  font-size: 80px;
  color: #4e47ff;
}

.productive_users_count_shared_text_two {
  font-size: 20px;
  color: dimgray;
}